:root {
    line-height: 1.2;
    
    --pale-green: #BAD8B6;
    --lighter-pale-green: #E1EACD;
    --beige: #F9F6E6;
    --purple: #8D77AB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif, Arial;
    color: black;
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    src: local("Poppins"), url(/Shopping-Cart/src/assets/Poppins/Poppins-Regular.ttf) format("woff");
}

body {
    background-color: var(--beige);
}

body svg {
    width: 30px;
    margin-right: 5px;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.go-back {
    display: flex;
    justify-self: flex-end;
    margin-right: 50px;
}

.home-page a, .shop-page a {
    text-decoration: none;
    font-weight: bold;
}

.home-page, .shop-page, header div {
    font-size: 1.5rem;
    background-color: var(--pale-green);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 20px;
    display: flex   ;
    align-items: center;
    transition: trasform 1000ms ease-out 200ms;
}

.home-page:hover, .shop-page:hover {
    background-color: var(--lighter-pale-green);
    cursor: pointer;
}

.home-page:active, .shop-page:active, .card button:active {
    transform: scale(1.1);
}


.card {
    background-color: white;
}

.card button {
    /* border: 1px solid var(--purple); */
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    border: none;
    background-color: var(--pale-green);
    cursor: pointer;
    transition: trasform 1000ms ease-out 200ms;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity button {
    background-color: var(--beige);
    border-radius: 5px;
    border: 1px solid var(--pale-green);
}

.form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    height: 200%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.form .form-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lighter-pale-green);
    padding: 40px;
    max-width: 500px;
    border-radius: 20px;
    border: 1px solid var(--purple); 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-child div button {
    margin: 10px 20px;
    background-color: var(--purple);
}

.home-div {
    display: flex;
    justify-content: space-between;
    height: 85.2vh;
}

.home-div div {
    width: 100%;
}

.home-div aside {
    position: relative;
    height: 100%;
    width: 500px;
    background-image: linear-gradient( var(--beige), var(--pale-green));
    /* overflow-y: scroll; */
}

.cart {
    background-color: red;
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.loader {
    margin-top: 200px;
    width: 58px;
    height: 58px;
    border: 5px solid var(--purple);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 